<main class="container-fluid text-center bg-primary-subtle vh-100 p-4 " >

  <div class="w-50 gap-4 d-flex flex-column">

    <div class="d-flex flex-row gap-3">
      <input class="form-control" [(ngModel)]="newTask" placeholder="Enter new task"/>

      <button type="button" class="btn btn-primary" (click)="addTask()"> Add </button>
    </div>

    
    <div>
      <h3 class="text-start">Your tasks</h3>

      <ul class="list-group bg-transparent ">
        <li class="list-group-item d-flex flex-row align-items-center justify-content-between " *ngFor="let todoItem of todoList; let i=index" [ngClass]="{'completed':todoItem.completed}">

          <div class="d-flex flex-row gap-2">
            <input class="form-check-input me-1" type="checkbox" [(checked)] = "todoItem.completed" (change)="completeTask(i)">
            <label class="form-check-label" [class.completed]="todoItem.completed">{{ todoItem.task }}</label>
          </div>

          <button type="button" class="btn btn-danger" (click)="deleteTask(todoItem.id)">Delete</button>

        </li>
      </ul>
    </div>

    <h3>Products</h3>
    <ul class="list-group bg-transparent ">
      <button type="button" class="btn btn-danger" (click)="addProduct()">Add product</button>

      <li class="list-group-item d-flex flex-row align-items-center justify-content-between " *ngFor="let product of products$ | async">
    
      <div class="d-flex flex-row gap-2">
        <label class="form-check-label" *ngIf="product.title">{{ product.title }}</label>
      </div>

    </ul>


  </div>
 
</main>


<router-outlet />
